# Игнорировать виртуальное окружение Python
venv/
.venv/

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы .pyc и .pyo
*.pyc
*.pyo

# Игнорировать файлы .DS_Store (для macOS)
.DS_Store

# Игнорировать логи
*.log
logs/

# Игнорировать папку для хранения статических файлов (если она генерируется)

# Игнорировать папку для хранения кэша (если используется)
.cache/

# Игнорировать папку для хранения зависимостей (если используется)
.pytest_cache/
.mypy_cache/
.coverage

# Игнорировать папку для хранения скомпилированных файлов (если используется)
dist/
build/
*.egg-info/

# Игнорировать файлы IDE
.idea/
*.swp
*.swo

# Игнорировать файлы базы данных (если используется SQLite)
*.sqlite
*.sqlite3

# Игнорировать файлы Jupyter Notebook
.ipynb_checkpoints/

# Игнорировать файлы миграций (если используется Alembic)
alembic/versions/

# Игнорировать файлы зависимостей (если используется Poetry)
poetry.lock
pyproject.toml

# Игнорировать файлы зависимостей (если используется Pipenv)
Pipfile
Pipfile.lock

Dockerfile
docker-compose.yaml

